.type-btn{
    border: 0.5px solid black;
    border-radius: 5px;
}
.type-btn:hover{
    border-color: blue;
    border-width: 1px;
    border-bottom: 2px solid blueviolet;
}
.type-idle{
    background-color: white;
    color: black;
    
}   
.type-selected{
    background-color: blue;
    color: white;
}