<head>
    <!-- bootstrap and bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<div class="create-ticket-form m-auto ">
    <div class="Title"> <h2>New Zendesk Ticket</h2></div>
    <form method="post" #createTicketForm="ngForm" >

        <div class="container m-auto p-5 w-70">
            <!-- SUBJECT -->
            <div class="row">
                <div class="col col-6">
                    <label for="subject" class="form-label label">Subject</label>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="subject" class="form-control" 
                    placeholder="Subject of the ticket" [(ngModel)]="subject" autocomplete="nope" required>
                </div>
            </div>

            <!-- DESCRIPTION -->

            <div class="row">
                <div class="col col-6">
                    <label for="description" class="form-label label">Description</label>
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                    <textarea  name="description" class="form-control" 
                    placeholder="Describe the scenario" [(ngModel)]="description" autocomplete="nope" required>
                    </textarea>
                </div>
            </div>
            <!-- PRIORITY -->
            <div class="row">
                <div class="col pb-2 mb-2">
                    <label  class="form-label label">Priority</label> 
                    <app-priority-slider (priorityEvent)="setPriority($event)"></app-priority-slider>
                      
                </div>
            </div>
            <!-- TYPE -->
            <div class="row">
                <div class="col col-6">
                    <label class="form-label label" for="Type">Type</label>
                </div>
                
            </div>
            <div class="row">
                <app-type-selector (typeSelectEvent)="setType($event)"></app-type-selector>
            </div>

            <!-- TAGS -->
            <div class="row">
                <div class="col col-6"><label class="form-label label">Tags</label></div>
            </div>
            <div class="row">
                <div class="col">
                    <app-tags-selector (tagsSelectEvent)="setTag($event)"></app-tags-selector>
                </div>
            </div>

            <!-- HVAC PARTNER ID -->
            <div class="row">
                <div class="col col-6">
                    <label for="hvac-partner-id" class="form-label label">HVAC Partner ID</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="hvac-partner-id" placeholder="Provide HVAC Partner portal ID"
                    class="form-control" [(ngModel)]="hvacPartnerID"
                    required autocomplete="nope">
                </div>
            </div>

            <!-- REQUESTER ID -->
            <div class="row">
                <div class="col-6">
                    <label class="form-label label">Requested By</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-requester-id-selector (requesterEvent)="setRequesterId($event)"></app-requester-id-selector>
                </div>
            </div>

            
            
            <div class="d-flex justify-content-end my-2">
            <!-- RESET BUTTON -->
            <button type="button" class="btn btn-md btn-warning mx-4" (click)="resetValues()">Reset</button>
            <!-- SUBMIT BUTTON -->
            <button [disabled]="!createTicketForm.form.valid || requester_id==''" 
            type="submit" class="btn btn-md btn-secondary mx-4" (click)="createTicket()">Create Ticket</button>
            </div>
        </div>
    </form>
 


    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</div>
